<section id="footer">

    <div class="margin">
        <div class="logo-brand">
            <a href="#">
                <i class="fas fa-star-of-david" style="font-size:30px;color:white"></i>
                <span>Teatro Geração Samuel</span>
            </a>
        </div>

        <div class="flex-footer">

            <div class="links">
                <a href="/">Início</a>
                <a href="/sobre">Sobre</a>
                <!--<a href="evento">Evento</a> -->
                <a href="/confirmacao">Confirmação</a>
            </div>

            <div class="adress">
                <p>R. Henrique Muzzio, 396</p>
                <p>Jardim Varginha, São Paulo</p>
                <p>SP, 04857-040</p>
            </div>

            <form id="contato" action="javascript: sendMessage();">
                <fieldset>
                    <span class="text-contact">Contate nos</span>
                    <input name="email" id="email" type="email" placeholder="E-mail" required>
                </fieldset>

                <fieldset>
                    <span class="text-contact" style="visibility: hidden;">Contate nos</span>
                    <textarea name="message" id="message" placeholder="Mensagem" cols="30" rows="5" required></textarea>
                </fieldset>

                <fieldset>
                    <span class="text-contact" style="visibility: hidden;">Contate nos</span>
                    <button type="submit">Enviar</button>
                </fieldset>
            </form>
        </div>

        <div class="socials">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-youtube"></i>
            
        </div>
    </div>

    <hr>

    <div class="copy">Copyright © 2022</div>
</section>