<nav>
    <a href="/">
        <i class="fas fa-star-of-david" style="font-size:48px;color:white"></i>
    </a> 

    <ul class="links_nav">
        <li><a href="/">Início</a></li>
        <li><a href="/sobre">Sobre</a></li>
        <!--<li><a href="evento">Evento</a></li> -->
        <li><a href="/confirmacao">Confirmação</a></li>
        <li><a href="#contato">Contato</a></li>
    </ul>

    <div class="menu-icon" onclick="javascript:abrirMenu();menu_buguer(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>

</nav>