<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Chat - zin</title>
  <script src="https://cdn.tailwindcss.com"></script>



<body>

  <div class="bg-violet-900 p-2 top-0">
    <span class="text-4xl py-4 text-gray-100">Chat - zin </span>
  </div>

  <div class="bg-violet-400 fixed bottom-0 p-2 w-full space-y-2 py-2 px-4">
    <div class="">
      <label class="text-xs font-bold italic" for="username">nome:</label>
      <input id="username" class="rounded-md font-bold text-violet-800 p-1 
      w-full border-2 outline-none" id="usename" type="text" name="username">
    </div>
    <div class="">
      <label class="text-xs font-bold italic" for="msg">mensagem:</label>
      <input id="msg" class="rounded-md font-bold text-violet-800 p-1 w-full 
      border-2 outline-none" id="msg" type="text" name="msg">
    </div>
    <button onclick="enviar()" class=" rounded-md p-2 bg-violet-700 
      hover:bg-violet-900 text-white font-bold w-full p-2">Enviar</button>
  </div>

  <div id="chat" class="overflow-y-scroll bg-violet-300 h-screen"></div>
</body>



<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
<script>

  const prod = "https://chatzinn.herokuapp.com/"
  const local = "http://localhost:8080"

  const socket = io(prod);
  socket.on("disconnect", () => console.log("desconectou"));

  const enviar = () => {
    const username = document.getElementById("username").value;
    const msgField = document.getElementById("msg");

    const msg = msgField.value;
    socket.emit("message", { username, msg })
    msgField.value = "";
  }

  socket.on("previousMessages", (messages) => {
    messages.map(msg => {
      renderMessage(msg)
    })

  })

  socket.on("responseMessage", (data) => {
    renderMessage(data)
  })

  const renderMessage = (data) => {
    const chat = document.getElementById("chat");
    const p = document.createElement("p");
    p.innerHTML = `${data.username}:  ${data.msg}`;
    p.setAttribute('class', 'font-bold px-4 text-violet-900 mb-2');
    chat.append(p);
  }

</script>

</html>