<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="styles/style.css">
    <title>Geraçao Samuel</title>
</head>
<body>
    <div id="container">
        <header>
            <%- include('../partials/header'); %>
        </header>

        <section id="confirmation">

            <h1>
                Confirme sua presença preenchendo os campos <span>corretamente</span>
            </h1>

            <form action="javascript: sendConfirmation();">
                <div class="row">
                    <fieldset>
                        <label for="">Nome e Sobrenome</label>
                        <input type="text" placeholder="Nome" mame="name" id="name" required>
                    </fieldset>
    
                    <fieldset>
                        <label for="">Igreja</label>
                        <input type="text" placeholder="Igreja" name="church" id="church" required>
                    </fieldset>   
                    
                    <fieldset>
                        <label for="">Nome do grupo</label>
                        <input type="text" placeholder="Nome do grupop" name="group" id="group" required>
                    </fieldset> 
                </div>
                <div class="row">
                    <fieldset>
                        <label for="">E-mail</label>
                        <input type="email" placeholder="E-mail" name="email" id="email" required>
                    </fieldset>
    
                    <fieldset>
                        <label for="">Whats App</label>
                        <input type="tel" placeholder="(xx) 9 xxxx xxxx" name="whatsapp" id="whatsapp" required>
                    </fieldset>   
                    
                    <fieldset>
                        <label for="">Nome do seu Pastor</label>
                        <input type="text" placeholder="nome do seu pastor" name="minister" id="minister" required>
                    </fieldset> 
                </div>
                <div class="row">
                    <fieldset>
                        <label for="">URL da música</label>
                        <input type="url" placeholder="https://youtube.com/..." name="url" id="url" required>
                    </fieldset>
                </div>

                <div class="btn-group">
                    <button type="submit">Enviar</button>
                </div>

            </form>


        </section>


        <section id="footer">

            <div class="margin">
                <div class="logo-brand">
                    <a href="#">
                        <i class="fas fa-star-of-david" style="font-size:30px;color:white"></i>
                        <span>Teatro Geração Samuel</span>
                    </a>
                </div>
    
                <div class="flex-footer">
    
                    <div class="links">
                        <a href="sobre.html">Sobre</a >
                        <a href="evento.html">Evento</a >
                        <a href="confirmacao.html">Confirmação</a >
                    </div>
    
                    <div class="adress">
                        <p>R. Henrique Muzzio, 396</p>
                        <p>Jardim Varginha, São Paulo</p>
                        <p>SP, 04857-040</p>
                    </div>
    
                    <form id="contato" action="javascript: sendMessage();">
                        <fieldset>
                            <span class="text-contact">Contate nos</span>
                            <input name="email" id="email" type="email" placeholder="E-mail" required>
                        </fieldset>
    
                        <fieldset>
                            <span class="text-contact" style="visibility: hidden;">Contate nos</span>
                            <textarea name="message" id="message" placeholder="Mensagem" cols="30" rows="5" required></textarea>
                        </fieldset>
    
                        <fieldset>
                            <span class="text-contact" style="visibility: hidden;">Contate nos</span>
                            <button type="submit">Enviar</button>
                        </fieldset>
                    </form>
                </div>

                <div class="socials">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-youtube"></i>
                    
                </div>
            </div>

            <hr>

            <div class="copy">Copyright © 2022</div>

        </section>

    </div>

    <script>
        function menu_buguer(event) {
          event.classList.toggle('change');
        }

        var menu = document.querySelector("nav ul");

        function abrirMenu() {
            menu.classList.toggle("open");
        }

        let active = document.querySelector('.links_nav')
        active.children[2].children[0].setAttribute("class", "active")
    </script>

    <!--SweetAlert 2-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <script src="scripts/request.js"></script>
</body>
</html>