<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/styles/style.css">
    <title>Geraçao Samuel</title>
</head>
<body>
    <div id="container">
        <header>
            <%- include('../partials/header'); %>
        </header>

        
        <section id="do-part-form">
            <h1>Faça Parte!</h1>

            <form action="javascript: sendDoPart();">
                <div class="row">
                    <fieldset>
                        <label for="nome">Nome Completo</label>
                        <input name="nome" id="name" type="text" placeholder="Nome" required>
                    </fieldset>
    
                    <fieldset>
                        <label for="email">Email</label>
                        <input name="email" id="email" type="email" placeholder="Email" required>
                    </fieldset>   
                    
                    <fieldset>
                        <label for="whatsapp">Whats App</label>
                        <input name="whatsapp" id="whatsapp" type="tel" placeholder="whatsapp" required>
                    </fieldset> 
                </div>
                <div class="row">
                    <fieldset>
                        <label for="cep">CEP</label>
                        <input name="cep" id="cep" type="text" placeholder="cep" required>
                        </fieldset>
                    <fieldset>
                        <label for="endereco">Endereço</label>
                        <input name="endereco" id="adress" type="text" placeholder="endereço" required>
                    </fieldset> 

                    <fieldset>
                        <label for="date">Data para retirada</label>
                        <input type="date" id="date" name="date" required>
                    </fieldset>  
                </div>

                <div class="btn-group">
                    <button type="submit">Enviar</button>
                </div>

            </form>

        </section>   

        <%- include('../partials/footer'); %>

    </div>

    <script>
        function menu_buguer(event) {
          event.classList.toggle('change');
        }

        var menu = document.querySelector("nav ul");

        function abrirMenu() {
            menu.classList.toggle("open");
        }

        let active = document.querySelector('.links_nav')
        active.children[0].setAttribute("class", "active")
    </script>

    <!--SweetAlert 2-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <script src="../scripts/request.js"></script>

        
</body>
</html>