<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/styles/style.css">
    <title>Geraçao Samuel</title>
</head>
<body>
    <div id="container">
        <header>

            <section id="believer">
                <div class="sub-title">
                    <h2>
                        Em Breve...
                    </h2>
        
                    <h3>
                        O Evento que mudará a sua vida
                    </h3>
                </div>
    
                <h1 class="title">
                    believer
                </h1>
    
                <div class="stopwatch-grid">
                    <div class="grid-item timer"></div>
                    <div class="grid-item timer"></div>
                    <div class="grid-item timer"></div>
                    <div class="grid-item timer"></div>
                    <div class="grid-item">dias</div>
                    <div class="grid-item">horas</div>
                    <div class="grid-item">minutos</div>
                    <div class="grid-item">segundos</div>
                </div>
    

                <span class="date">22/10 ás 17hrs</span>

                <a href="#">
                    Saiba mais
                </a>
            </section>
            <%- include('../partials/header'); %>
            <!--<section class="banner">
                <div class="title">
                    <h1>Geração Samuel</h1>
                </div>
            </section> -->
        </header>


        <section id="about">
            
            <span class="icon">
                <i class="fas fa-star-of-david"></i>
            </span>

            <h3>
                Teatro Geração Samuel
            </h3>

            <p>
                Somos um grupo de teatro Cristão que vive o proposito de Deus
                pregando o seu amor e evangelho através de peças teatrais.
            </p>

            <p>
                Toda honra e toda glória seja dado ao nosso Senhor
                <span>Jesus</span>
            </p>

            <a href="sobre">
                Saiba mais
            </a>
        </section>

        <section id="do-part">
            <span class="icon"  aria-label="love">
                😍
            </span>

            <h3>
                Faça Parte do Projeto Conosco!
            </h3>

            <p>
                Para levarmos a pessoas necessitadas. Caso tenha interesse em
                colaborar ou necessita de ajuda, escolha uma opção a baixo.
            </p>

            <div class="buttons">
                <a href="peca-ajuda" class="btn-ask-help">
                    <i class="fas fa-heart"></i>
                      Peça Ajuda
                </a>

                <a href="faca-parte" class="btn-do-part">
                    <i class="fas fa-seedling"></i>
                      Faça Parte
                </a>
            </div>

            <a href="projeto-believer">
                Saiba mais
            </a>
        </section>

        <!-- <section id="believer"> 
            <div class="sub-title">
                <h1 style="text-align: center; font-size: 2rem; padding: 1rem 0;">
                    GERAÇÃO SAMUEL
                </h1>
                <h2>
                    Em Breve...
                </h2>
    
                <h3>
                    O Evento que mudará a sua vida
                </h3>
            </div>

            <h1 class="title">
                believer
            </h1>

            <div class="stopwatch-grid">
                <div class="grid-item timer"></div>
                <div class="grid-item timer"></div>
                <div class="grid-item timer"></div>
                <div class="grid-item timer"></div>
                <div class="grid-item">dias</div>
                <div class="grid-item">horas</div>
                <div class="grid-item">minutos</div>
                <div class="grid-item">segundos</div>
            </div>

            <a href="#">
                Saiba mais
            </a>
        </section> -->

        <%- include('../partials/footer'); %>

    </div>

    <script src="scripts/stopwatch.js"></script>

    <script>
        function menu_buguer(event) {
          event.classList.toggle('change');
        }

        var menu = document.querySelector("nav ul");

        function abrirMenu() {
            menu.classList.toggle("open");
        }

        let active = document.querySelector('.links_nav');
        active.children[0].children[0].setAttribute("class", "active");
    </script>

    <!--SweetAlert 2-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <script src="scripts/request.js"></script>
</body>
</html>